auto job mail.json
{
  "name": "auto job mail",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1760,
        320
      ],
      "id": "b9be9f05-584e-44ad-b275-46ce25e97d6b",
      "name": "Telegram Trigger",
      "webhookId": "aeaaee24-2aed-439d-9e7f-892890a18321",
      "credentials": {
        "telegramApi": {
          "id": "MTjjtJGzBBbcIpkd",
          "name": "Telegram account 120"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.document.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "9e67bd13-904c-4de3-a238-ee065bbf56f1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b93cbd58-c7ef-430d-a90a-490164114260",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1536,
        320
      ],
      "id": "5b4de461-d205-464d-a081-bf55764e5d5a",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1344,
        16
      ],
      "id": "d55f6da7-8825-4edc-8547-4cfb1fe4178a",
      "name": "Get a file",
      "webhookId": "22374e7f-68a6-48ce-a34e-997e38a376fe",
      "credentials": {
        "telegramApi": {
          "id": "MTjjtJGzBBbcIpkd",
          "name": "Telegram account 120"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://cloud.flowiseai.com/api/v1/attachments/5fe2ae21-7e05-4c9d-9e0d-f50ddb7afca7/5fe2ae21-7e05-4c9d-9e0d-f50ddb7afca7",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1024,
        -16
      ],
      "id": "bbc70a71-edb7-4ee9-a2c2-e2287679e684",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"questions\": \"This is my resume, save this for future reference.\",\n  \"uploads\": [\n{\n  \"data\" : \"{{$json.content.replaceAll('\\n', '').replaceAll('\"', '')}}\",\n  \"type\" : \"file:full\",\n  \"name\" : \"{{ $('Telegram Trigger').item.json.message.document.file_name }}\",\n  \"mime\" : \"{{ $json.mimeType }}\"\n}    \n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        -16
      ],
      "id": "99b90b1c-3da8-48b5-8b3d-9574e3629810",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Your resume has been saved. \n\n{{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        192,
        176
      ],
      "id": "194f9dbd-f285-4b55-ade6-c7d63cf7422e",
      "name": "Send a text message",
      "webhookId": "afab3863-db96-4f8f-8dd7-811a613f0f95"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Email Sent ✅\n\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        560
      ],
      "id": "16a31572-638e-47a8-a352-dc37d3d5cd55",
      "name": "Send a text message1",
      "webhookId": "afab3863-db96-4f8f-8dd7-811a613f0f95"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code in JavaScript').item.json.email }}",
        "subject": "={{ $('Requesting subject line').item.json.text }}",
        "message": "={{ $('For body').item.json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        192,
        656
      ],
      "id": "e360436e-f6f5-476b-9929-db6476f824c3",
      "name": "Send a message",
      "webhookId": "db50e583-011e-4710-996b-12ac3a20b725"
    },
    {
      "parameters": {
        "jsCode": "const text = $('Telegram Trigger').first().json.message.text;\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/;\nconst match = text.match(emailRegex);\nconst email = match ? match[0] : '';\n\nreturn [{ json: { email } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        464
      ],
      "id": "636cbe7f-64a7-4fa9-bbac-f601b86277c8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "34d59493-314b-48b8-86f3-efb503cbb604",
              "leftValue": "={{ $('body agent').item.json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "ff00d959-d815-4499-98b9-0871e2cd0cd2",
              "leftValue": "={{ $('subject1').item.json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "d59a06cb-3c6e-4738-b397-d61565654dcb",
              "leftValue": "={{ $('Code in JavaScript').item.json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        464
      ],
      "id": "2547481b-8ba5-41f7-9602-1e49f3c275b5",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.questions }}\n{{ $('HTTP Request').item.json.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -192,
        -16
      ],
      "id": "2b3b5e6d-d942-4779-95a0-66cdbee7db8e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -624,
        240
      ],
      "id": "a4cdf018-e9bb-4694-9b8b-48b59e3e86ed",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        288
      ],
      "id": "5ee02de8-da64-4622-ab1b-5c5de6e9d135",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"questions\": \"Use the detailed information from my resume provided earlier to write the complete email body to a recruiter who posted a job opening on LinkedIn. Make the tone professional yet warm and engaging. Reflect my key skills, experiences, and accomplishments relevant to the job, and subtly highlight how my background aligns with the role. The email should be concise, respectful, and convey enthusiasm for the opportunity. Avoid generic phrases and make it sound personalized and humanized. here;s the post text from the recruiter : {{ $('Telegram Trigger').item.json.message.text.replaceAll('\"','').replaceAll('\\n','') }}\",\n  \"overrrideConfig\": \n{\n  \"sessionId\" : \"{{ $('Telegram Trigger').item.json.message.chat.id }}\"\n}    \n\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        640
      ],
      "id": "42848ec9-2934-4af2-a41f-3a43bca1638a",
      "name": "body"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.questions }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1088,
        464
      ],
      "id": "8391a9a5-702e-4216-8e45-323bbfc2f9c6",
      "name": "body agent"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"questions\": \"This is the post a recruiter posted give me a short email subject line for this catchy and hooked and humanized , use my resume shared before for reference and just provide me the subject line text for this post : {{ $('Telegram Trigger').item.json.message.text.replaceAll('\"','').replaceAll('\\n','') }}\",\n  \"overrrideConfig\": \n{\n  \"sessionId\" : \"{{ $('Telegram Trigger').item.json.message.chat.id }}\"\n}    \n\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        464
      ],
      "id": "dad16943-7cc6-4a59-aab1-05109603aced",
      "name": "subject"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.questions }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -512,
        464
      ],
      "id": "26f1a1d8-3a19-4071-aa3b-eed42f6f69a9",
      "name": "subject1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "976afad6-a38f-4bcf-a345-779cd8815e66",
              "name": "data",
              "value": "={   \"data\" : \"{{$json.content.replaceAll('\\n', '').replaceAll('\"', '')}}\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        -16
      ],
      "id": "39623ff4-5072-411e-af10-b3d20893c5bc",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "body agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "subject1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "body agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "subject1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "body": {
      "main": [
        [
          {
            "node": "body agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "body agent": {
      "main": [
        [
          {
            "node": "subject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "subject": {
      "main": [
        [
          {
            "node": "subject1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "subject1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "af11ebbf-a1f6-4b94-adf5-bfa5fcc103de",
  "meta": {
    "instanceId": "8aa7a6b00703250dcbefcb510baac06d8bd02203b4f9c49a6f275db8e3adde34"
  },
  "id": "32nD2cPMxG4c40Lx",
  "tags": []
}